def versions = "git tag".execute().text.split('\n').reverse()
assert versions

yieldUnescaped '<!DOCTYPE html>'

html {
	head {
		meta(charset: "utf-8")
		meta("http-equiv": "X-UA-Compatible", content: "chrome=1")
		meta(name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no")
		title("Spring Security REST for Grails by alvarosanchez")
		link(rel: "stylesheet", href: "stylesheets/styles.css")
		link(rel: "stylesheet", href: "stylesheets/pygment_trac.css")
		script(src: "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js") {}
		script(src: "javascripts/main.js") {}

		yieldUnescaped '<!--[if lt IE 9]>'
		script(src: "//html5shiv.googlecode.com/svn/trunk/html5.js")
		yieldUnescaped '<![endif]-->'
	}

	body {

		header {
			h1("Spring Security REST for Grails")
			p("Grails plugin to implement a stateless, token-based, RESTful authentication using Spring Security")
		}

		div(id: "banner") {
			span(id: "logo")
			a(href: "https://github.com/alvarosanchez/grails-spring-security-rest", class: "button fork") {
				strong("View On GitHub")
			}
		}

		div(class: "wrapper") {
			nav { ul() }

			section {
				h3("Spring Security REST for Grails")
				p("This Grails plugin allows you to use Spring Security for a stateless, token-based, RESTful authentication")

				h3("Versions") 

				ul {
					versions.each { v ->
						li("<strong>${v}</strong>: <a href=\"${v}/docs/index.html\">Reference documentation</a> | <a href=\"${v}/docs/gapi/index.html\">Javadoc API</a>")
					}						
				}

				
			}

			footer {
				p("Project maintained by <a href=\"https://github.com/alvarosanchez\">Álvaro Sánchez-Mariscal</a>")
				p { small("Hosted on GitHub Pages &mdash; Theme by <a href=\"https://twitter.com/michigangraham\">mattgraham</a>") }
			}
		}

		yieldUnescaped "<!--[if !IE]><script>fixScale(document);</script><![endif]-->"

	}
}
