description: Creates a test app for Spring Security REST plugin
build:
    excludes:
        - org.grails.grails-core
dependencies:
    compile:
        - "org.grails.plugins:spring-security-rest:${pluginVersion}"
        - "org.grails:grails-datastore-rest-client:5.0.7.RELEASE"
    testCompile:
        - "com.codeborne:phantomjsdriver:1.2.1"
        - "org.seleniumhq.selenium:selenium-api:2.47.1"
        - "org.seleniumhq.selenium:selenium-firefox-driver:2.47.1"