description: Second configuration of GORM
dependencies:
    build:
        - "org.grails.plugins:hibernate4:5.0.10"
    compile:
        - "org.grails.plugins:hibernate4"
        - "org.hibernate:hibernate-ehcache"
        - "org.grails.plugins:spring-security-rest-gorm:${pluginVersion}"
    runtime:
        - "com.h2database:h2"